// variables for regular color
$white: #fff;
$primary: #008036;
$primary-light: #65B286;
$secondary: #052041;
$black: #000000;
$glass: #ffffff61;
$gray: rgb(236, 236, 236);

// variables for social media icon color
$facebook: #077ced;
$instagram: #dd3da8;
$twitter: #1aa3f9;
$pinterest: #ce0000;

// variables for social media icon color
$hover: #e6beff;

// variables for device breakdown width
$laptop-breakdown: 1024px;
$tablet-breakdown: 768px;
$mobile-breakdown: 425px;