@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Poppins", sans-serif;
}

body {
  background-color: #f3f4f6;
}

a {
  text-decoration: none;
  color: #008036;
}

.c-header-container {
  width: 100%;
  height: 75px;
  box-shadow: 0 0 5px -1px #454545;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
@media (max-width: 768px) {
  .c-header-container {
    height: 60px;
  }
}
.c-header-container .c-navbar-container {
  width: 100%;
  height: 100%;
}
.c-header-container .c-navbar-container .c-navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: #008036;
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 425px) {
  .c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo {
    width: 90%;
    height: auto;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo-text h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo-text h1 {
    font-size: 1rem;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo-text p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-logo-container .c-logo-text p {
    font-size: 0.8rem;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-menu-toogle-btn-container {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: none;
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-menu-toogle-btn-container .c-menu-toggle-btn {
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 0px;
  background-color: #fff;
}
.c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-menu-toogle-btn-container .c-menu-toggle-btn img {
  width: 80%;
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container .c-menu-toogle-btn-container {
    display: flex;
    justify-content: right;
  }
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-logo-menu-toogle-container {
    width: 100%;
    justify-content: space-between;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-close-btn-container {
  display: none;
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-close-btn-container {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-close-btn-container .c-close-btn {
  color: #fff;
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar .c-menu-item {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar .c-menu-item a {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  color: #052041;
  font-size: 1.3rem;
  font-weight: 400;
  transition: color 0.2s ease-in;
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar .c-menu-item a:hover {
  color: #008036;
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar .c-menu-item a {
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    font-size: 2rem;
    font-family: Anton;
    color: rgb(236, 236, 236);
  }
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar .c-menu-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar .c-menu-item .c-active {
  font-weight: 600;
  letter-spacing: 1px;
  color: #008036;
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-menu-bar-container .c-menu-bar {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .c-header-container .c-navbar-container .c-navbar .c-menu-bar-container {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: #65B286;
    color: #fff;
    z-index: 9999;
    overflow-y: scroll;
  }
}
.c-header-container .c-navbar-container .c-navbar .c-nav-btn-container {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-header-container .c-navbar-container .c-navbar .c-nav-btn-container .c-btn {
  height: 90%;
  max-height: 50px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
  background-color: #008036;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .c-header-container .c-navbar-container .c-navbar .c-nav-btn-container {
    display: none;
  }
}
@media (max-width: 425px) {
  .c-header-container .c-navbar-container .c-navbar {
    flex-direction: column;
  }
}

.c-banner-container {
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 768px) {
  .c-banner-container {
    flex-direction: column;
  }
}
.c-banner-container .c-left {
  width: 450px;
  height: 450px;
  border: 1px solid #008036;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
@media (max-width: 768px) {
  .c-banner-container .c-left {
    width: 100%;
    height: 400px;
  }
}
.c-banner-container .c-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.c-banner-container .c-right {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 450px;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3803921569);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 55px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1 !important;
}
@media (max-width: 768px) {
  .c-banner-container .c-right {
    margin-left: 0;
    margin-top: -50px;
  }
}
@media (max-width: 768px) {
  .c-banner-container .c-right {
    width: 90%;
  }
}
.c-banner-container .c-right::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #008036;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1 !important;
  box-shadow: 0 0 75px 20px #008036;
}
.c-banner-container .c-right::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #008036;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1 !important;
  box-shadow: 0 0 75px 20px #008036;
}
.c-banner-container .c-right h1 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #052041;
  margin-top: -10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .c-banner-container .c-right h1 {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-banner-container .c-right h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-banner-container .c-right p {
  font-size: 1.1rem;
  font-family: poppins;
  line-height: 1.9rem;
  font-weight: 400;
  line-height: 25px;
  text-transform: capitalize;
  color: #052041;
  margin-top: -10px;
}
@media (max-width: 768px) {
  .c-banner-container .c-right p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-banner-container .c-right p {
    font-size: 1rem;
  }
}
.c-banner-container .c-right .c-sub-heading {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 25px;
}
@media (max-width: 425px) {
  .c-banner-container .c-right .c-sub-heading {
    font-size: 1.2rem !important;
  }
}
.c-banner-container .c-right button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.c-welcome-section-container {
  background-image: linear-gradient(90deg, #008036, #65B286);
  padding: 50px 0px;
}
.c-welcome-section-container .c-welcome-container {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
}
.c-welcome-section-container .c-welcome-container .c-welcome-heading h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #052041;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .c-welcome-section-container .c-welcome-container .c-welcome-heading h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-welcome-section-container .c-welcome-container .c-welcome-heading h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-welcome-section-container .c-welcome-container .c-welcome-heading p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  color: #052041;
  margin-top: -10px;
  text-align: center;
}
@media (max-width: 768px) {
  .c-welcome-section-container .c-welcome-container .c-welcome-heading p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-welcome-section-container .c-welcome-container .c-welcome-heading p {
    font-size: 1rem;
  }
}
.c-welcome-section-container .c-welcome-container .c-welcome-content p {
  color: #052041;
  font-size: 1.1rem;
  font-family: poppins;
  line-height: 1.9rem;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 400;
}
@media (max-width: 425px) {
  .c-welcome-section-container .c-welcome-container .c-welcome-content p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

.c-why-choose-us-section-container {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5294117647), rgba(0, 0, 0, 0.6196078431)), url(../images/bg/why-choose-us.jpg);
  padding: 50px 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.c-why-choose-us-section-container .c-why-choose-us-container {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-why-choose-us-section-container .c-why-choose-us-container .c-extra-heading {
  margin-top: -100px;
  margin-bottom: 50px;
  color: #052041;
  background-color: #fff;
  padding: 10px 30px;
  font-family: Roboto;
  font-weight: 700;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading {
  display: flex;
  justify-content: center;
}
.c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #008036;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border-bottom: 5px solid #008036;
}
@media (max-width: 768px) {
  .c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  color: #052041;
  margin-top: -10px;
  text-align: center;
}
@media (max-width: 768px) {
  .c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-why-choose-us-section-container .c-why-choose-us-container .c-why-choose-us-heading p {
    font-size: 1rem;
  }
}
.c-why-choose-us-section-container .c-why-choose-us-container .c-welcome-content p {
  color: #052041;
  font-size: 1.1rem;
  font-family: poppins;
  line-height: 1.9rem;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 400;
}
@media (max-width: 425px) {
  .c-why-choose-us-section-container .c-why-choose-us-container .c-welcome-content p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}
.c-why-choose-us-section-container .c-why-choose-us-container .c-book-appointment-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.c-testimonials-section-container {
  background-color: #fff;
  padding: 50px 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.c-testimonials-section-container .c-testimonials-container {
  padding: 20px 15px;
  border-radius: 5px;
  position: relative;
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-heading h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  font-family: poppins;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #008036;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-heading h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-heading h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-heading p {
  font-size: 1rem;
  font-weight: 500;
  font-family: poppins;
  line-height: 25px;
  text-transform: capitalize;
  color: #65B286;
  margin-top: -10px;
  text-align: center;
}
@media (max-width: 768px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-heading p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-heading p {
    font-size: 1rem;
  }
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card {
  width: 50%;
  border: 1px solid #008036;
  padding: 10px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card {
    width: 100%;
    padding: 10px 10px;
  }
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card .c-user-image {
  height: 150px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 5px solid #008036;
  border-radius: 50%;
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card .c-user-review-text {
  text-align: center;
  margin: 20px 0;
  font-family: poppins;
  font-size: 1rem;
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card .c-user-name {
  text-align: center;
  font-family: poppins;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
.c-testimonials-section-container .c-testimonials-container .c-testimonials-card-container .c-testimonials-card .c-user-location {
  text-align: center;
  font-family: poppins;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  text-transform: capitalize;
}

.c-blog-section-container {
  background-color: #65B286;
  padding: 50px 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.c-blog-section-container .c-blog-container {
  padding: 20px 15px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 425px) {
  .c-blog-section-container .c-blog-container {
    padding: 20px 0px;
  }
}
.c-blog-section-container .c-blog-container .c-blog-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-blog-section-container .c-blog-container .c-blog-heading p {
  font-size: 1rem;
  font-weight: 500;
  font-family: poppins;
  text-transform: capitalize;
  color: rgb(236, 236, 236);
  margin: 10px 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .c-blog-section-container .c-blog-container .c-blog-heading p {
    text-align: center;
    margin: 15px 0;
  }
}
@media (max-width: 768px) {
  .c-blog-section-container .c-blog-container .c-blog-heading p {
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 425px) {
  .c-blog-section-container .c-blog-container .c-blog-heading p {
    font-size: 1rem;
    margin: 5px 0;
  }
}
.c-blog-section-container .c-blog-container .c-blog-heading h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  font-family: poppins;
  font-weight: 800;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  line-height: 25px;
}
@media (max-width: 768px) {
  .c-blog-section-container .c-blog-container .c-blog-heading h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-blog-section-container .c-blog-container .c-blog-heading h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-blog-section-container .c-blog-container .c-blog-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card {
  width: 30%;
  border: 1px solid #008036;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card {
    width: 100%;
    padding: 10px 10px;
  }
}
.c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card .c-blog-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
.c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card .c-blog-name {
  text-align: left;
  font-family: poppins;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0;
  color: #052041;
}
.c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card .c-blog-desc {
  text-align: left;
  margin: 0 0;
  font-family: poppins;
  font-size: 1rem;
  color: #052041;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.c-blog-section-container .c-blog-container .c-blog-card-container .c-blog-card .c-blog-date {
  text-align: left;
  font-family: poppins;
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 0;
  color: #656565;
}

.c-about-page-section-container {
  background-image: linear-gradient(90deg, #008036, #65B286);
  padding: 50px 10px;
}
.c-about-page-section-container .c-about-page-container {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
}
.c-about-page-section-container .c-about-page-container .c-about-page-content .c-about-page-heading h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #052041;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content .c-about-page-heading h1 {
    font-size: 2.2rem;
    text-align: left;
    margin: 10px 0;
  }
}
@media (max-width: 425px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content .c-about-page-heading h1 {
    font-size: 1.7rem;
    text-align: left;
  }
}
.c-about-page-section-container .c-about-page-container .c-about-page-content .c-about-page-heading p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  color: #052041;
  margin-top: -10px;
  text-align: center;
}
@media (max-width: 768px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content .c-about-page-heading p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content .c-about-page-heading p {
    font-size: 1rem;
  }
}
.c-about-page-section-container .c-about-page-container .c-about-page-content .img-1 {
  width: 50%;
  float: left;
  margin: 0;
  margin-right: 20px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content .img-1 {
    width: 100%;
    float: unset;
    margin: 0;
  }
}
.c-about-page-section-container .c-about-page-container .c-about-page-content .img-2 {
  width: 50%;
  float: right;
  margin: 0;
  margin-left: 20px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content .img-2 {
    width: 100%;
    float: unset;
    margin: 10px 0;
  }
}
.c-about-page-section-container .c-about-page-container .c-about-page-content p {
  color: #052041;
  font-size: 1.1rem;
  font-family: poppins;
  line-height: 1.9rem;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 400;
}
@media (max-width: 425px) {
  .c-about-page-section-container .c-about-page-container .c-about-page-content p {
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: left;
  }
}

.c-our-services-section-container {
  background-color: #fff;
  padding: 50px 10px;
}
.c-our-services-section-container .c-our-services-container {
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-heading h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #052041;
  text-align: center;
}
@media (max-width: 768px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-heading h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 425px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-heading h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-heading p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  color: #052041;
  margin-top: -10px;
  text-align: center;
}
@media (max-width: 768px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-heading p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-heading p {
    font-size: 1rem;
  }
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container {
  width: 100%;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-background-container {
  width: 100%;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-background-container .c-our-services-background {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
@media (max-width: 425px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-background-container .c-our-services-background {
    height: 150px;
  }
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container {
  margin-top: -100px;
  padding: 0 20px;
}
@media (max-width: 425px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container {
    margin-top: -75px;
    padding: 0 10px;
  }
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card {
  width: 30%;
  border: 1px solid #008036;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card {
    width: 100%;
    padding: 10px 10px;
  }
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card:hover .c-service-image {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card .c-service-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card .c-service-name {
  text-align: center;
  font-family: poppins;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0;
  color: #052041;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card .c-service-desc {
  text-align: center;
  margin: 0 0;
  margin-bottom: 20px;
  font-family: poppins;
  font-size: 1rem;
  color: #052041;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card .c-book-service-btn {
  border: 1px solid #008036;
  padding: 5px 20px;
  background-color: #008036;
  color: #fff;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}
.c-our-services-section-container .c-our-services-container .c-our-services-content .c-our-services-card-container .c-our-services-card-group-container .c-our-services-card-container .c-service-card .c-book-service-btn:hover {
  border-radius: 20px;
}

.c-contact-us-section-container {
  background-color: #fff;
  padding: 50px 10px;
}
.c-contact-us-section-container .c-contact-us-container {
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-heading h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #052041;
  text-align: center;
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-heading h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 425px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-heading h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-heading p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  color: #052041;
  margin-top: -10px;
  text-align: center;
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-heading p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-heading p {
    font-size: 1rem;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container {
  width: 100%;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-background-container {
  width: 100%;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-background-container .c-contact-us-background {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
@media (max-width: 425px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-background-container .c-contact-us-background {
    height: 150px;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container {
  margin-top: -100px;
  padding: 0 20px;
}
@media (max-width: 425px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container {
    margin-top: -75px;
    padding: 0 10px;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card {
  width: 30%;
  border: 1px solid #008036;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card {
    width: 100%;
    padding: 10px 10px;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card:hover .c-contact-us-image {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card .c-contact-us-icon {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50px;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  border: 2px solid #008036;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card .c-contact-us-desc {
  text-align: center;
  margin: 10px 0;
  font-family: poppins;
  font-size: 1.3rem;
  font-weight: 700;
  color: #052041;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-contact-us-card-container .c-contact-us-card-group-container .c-contact-us-card-container .c-contact-us-card .c-contact-us-name {
  text-align: center;
  font-family: poppins;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #052041;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container {
  width: 100%;
  display: flex;
  margin: 20px 0;
  margin-top: 50px;
  padding: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 13px 0px rgba(128, 128, 128, 0.4);
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container {
    flex-direction: column;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-title-map-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-title-map-form h2 {
  font-family: poppins;
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-title-map-form h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 425px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-title-map-form h2 {
    font-size: 1.2rem;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section {
    flex-direction: column-reverse;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-map-container {
  width: 49%;
  border: 1px solid #65B286;
  border-radius: 5px;
  padding: 10px;
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-map-container {
    width: 100%;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-map-container iframe {
  width: 100%;
  height: 100%;
  min-height: 250px;
  margin: 0;
  display: block;
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-form-container {
  width: 49%;
  padding: 10px;
  border: 1px solid #008036;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-form-container {
    width: 100%;
  }
}
.c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-form-container div input, .c-contact-us-section-container .c-contact-us-container .c-contact-us-content .c-map-form-container .c-map-form-section .c-form-container div textarea {
  background-color: #fff;
  box-shadow: -2px 3px 20px -14px #052041;
}
.c-footer-container {
  background-color: #052041;
  color: #fff;
  padding: 10px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-footer-container p {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */